                * {
                    font-family: 'Roboto' sans-serif;
                    line-height: 1.6em;
                }
                
                .spacer {
                    height: 50px;
                    width: auto;
                }
                
                #header {
                    background: #006699;
                    border-bottom: 5px solid #7AC143;
                }
                
                .header-content {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
                
                .brand {
                    width: 50%;
                }
                
                .brand img {
                    width: 100%;
                    padding-top: 10px;
                    padding-bottom: 10px;
                }
                
                .header-btn {
                    background-color: #7AC143;
                    font-size: 14px;
                    color: white;
                    font-weight: 700;
                    padding: 2px 10px;
                }
                
                .header-btn:hover {
                    background-color: #5daa23;
                    color: white;
                }
                
                .fa-chevron-right {
                    color: #006699;
                }
                
                .above-title p {
                    font-size: 14px;
                    color: #999;
                    font-weight: 400;
                }
                
                .blue-url {
                    color: #006699;
                    font-weight: 700;
                }
                
                .main-title {
                    font-size: 1.72rem;
                    text-align: center;
                    font-weight: 700;
                }
                
                .main-content img {
                    width: 100%;
                }
                
                .red-text {
                    color: #C0392B;
                    font-size: 15.6px;
                    font-family: 'Roboto' sans-serif;
                    line-height: 1.6em;
                }
                
                .quote {
                    background-color: #eeee;
                    border-left: #006699 4px solid;
                    padding: 0px 15px;
                }
                
                .quote p {
                    padding: 10px;
                    font-size: 16px;
                }
                
                .secondary-title {
                    font-size: 1.2rem;
                    font-weight: bold;
                }
                
                .steps {
                    font-weight: bold;
                }
                
                .age-title {
                    color: #006699;
                    text-align: center;
                    font-size: 1.3rem;
                    font-weight: 700;
                }
                
                .action-btn {
                    background-color: #7AC143;
                    border: none;
                    color: white;
                    display: block;
                    margin: 0 auto;
                    margin-bottom: 100px;
                    font-size: 1.2rem;
                    font-weight: 700;
                    width: 80%;
                    position: relative;
                    padding: 10px;
                    max-width: 450px;
                }
                
                .action-btn:hover {
                    background-color: #5daa23;
                    color: white;
                }
                
                .btn-text {
                    display: inline-block;
                    padding-right: 24px!important;
                }
                
                .btn-arrow {
                    background-image: url('../assets/images/blue-icon.png');
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                    position: absolute;
                    display: inline-block;
                    right: 10px;
                    top: 30px;
                    width: 22px;
                    height: 22px;
                }
                
                .age-container {
                    display: grid !important;
                    grid-template-columns: 1fr 1fr 1fr;
                    grid-template-rows: auto;
                }
                
                .age-container div {
                    background-color: #eeee;
                    height: 80px;
                    margin: 2px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #006699;
                    font-weight: 450;
                    font-size: 1.3rem;
                }
                
                .age-container a {
                    text-decoration: none;
                }
                
                .footer {
                    background-color: #006699;
                    text-align: center;
                    color: rgb(223, 223, 223);
                    font-size: 10px;
                }
                
                .footer-main {
                    line-height: 0.9;
                }
                
                .footer-main a {
                    color: white;
                    font-weight: bold;
                    padding: 0px 10px;
                }
                
                .footer-main img {
                    width: 50%;
                }
                /*DESKTOP VERSION*/
                
                @media only screen and (min-width: 437px) {
                    .btn-arrow {
                        right: 10px;
                        top: 15px;
                        width: 22px;
                        height: 22px;
                    }
                }
                
                @media only screen and (min-width: 768px) {
                    p {
                        font-size: 18px;
                    }
                    .main-title {
                        font-size: 2.5rem;
                        text-align: center;
                        width: 90%;
                        display: block;
                        margin: auto;
                        margin-bottom: 20px;
                    }
                    .text-container {
                        width: 100%;
                    }
                    .comg-img-div {
                        width: 100%;
                    }
                    .comp-img {
                        max-width: 95%;
                        margin: 0 auto;
                        display: block;
                    }
                    .red-text {
                        color: #C0392B;
                        font-size: 18.6px;
                        font-family: 'Roboto' sans-serif;
                        line-height: 1.6em;
                    }
                    .logos {
                        width: 70%;
                        display: block;
                        margin: auto;
                    }
                    .quote {
                        background-color: #eeee;
                        border-left: #006699 4px solid;
                        padding: 0px 15px;
                    }
                    .quote p {
                        padding: 10px;
                        font-size: 16px;
                    }
                    .secondary-title {
                        font-size: 1.5rem;
                        font-weight: bold;
                    }
                    .steps {
                        font-weight: bold;
                    }
                    .age-title {
                        color: #006699;
                        text-align: center;
                        font-size: 1.3rem;
                        font-weight: 700;
                    }
                    .age-container {
                        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
                        max-width: 85%;
                    }
                    .age-container div:hover {
                        background-color: rgba(202, 202, 202, 0.933);
                    }
                    .footer {
                        font-size: 8px;
                    }
                    .footer-main a {
                        font-size: 12px;
                    }
                    .footer-main img {
                        width: 25%;
                    }
                    .footer-disclaimer p {
                        font-size: 12px;
                    }
                }
                /* LARGE DESKTOP VERSION*/
                
                @media only screen and (min-width: 992px) {
                    p {
                        font-family: 'Roboto', sans-serif;
                        font-size: 18px;
                        width: 100% !important;
                        line-height: 1.65em;
                    }
                    .brand {
                        width: 50%;
                    }
                    .brand img {
                        width: 45%;
                    }
                    .main-title {
                        font-family: 'Roboto', sans-serif;
                        font-size: 2.7rem;
                        line-height: 1.1;
                        width: 98%;
                        display: block;
                        margin: auto;
                        margin-bottom: 20px;
                    }
                    .main-content {
                        max-width: 1170px;
                    }
                    .text-container {
                        max-width: 940px;
                    }
                    .comg-img-div {
                        width: 100%;
                    }
                    .comp-img {
                        max-width: 75%;
                        margin: 0 auto;
                        display: block;
                    }
                    .red-text {
                        color: #C0392B;
                        font-size: 17.6px;
                        font-family: 'Roboto' sans-serif;
                        line-height: 1.6em;
                    }
                    .logos {
                        width: 45%;
                        display: block;
                        margin: auto;
                    }
                    .quote p {
                        font-size: 18px;
                    }
                    .secondary-title {
                        font-size: 1.5rem;
                    }
                    .action-btn {
                        font-size: 1.5rem;
                    }
                    .btn-text {
                        padding-right: 23px!important;
                    }
                    .btn-arrow {
                        top: 19px;
                    }
                    .age-title {
                        color: #006699;
                        text-align: center;
                        font-size: 1.6rem;
                        font-weight: 700;
                    }
                    .age-container {
                        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
                        max-width: 80%;
                    }
                    .age-container div:hover {
                        background-color: rgba(202, 202, 202, 0.933);
                    }
                    .footer {
                        font-size: 8px;
                    }
                    .footer-main a {
                        font-size: 12px;
                    }
                    .footer-main img {
                        width: 25%;
                    }
                    .footer-disclaimer p {
                        font-size: 12px;
                    }
                }
