                * {
                    font-family: 'Roboto' sans-serif;
                    line-height: 1.6em;
                }
                
                .spacer {
                    height: 50px;
                    width: auto;
                }
                
                #header {
                    background: #006699;
                    border-bottom: 5px solid #7AC143;
                }
                
                .header-content {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
                
                .brand {
                    width: 50%;
                }
                
                .brand img {
                    width: 100%;
                    padding-top: 10px;
                    padding-bottom: 10px;
                }
                
                .header-btn {
                    background-color: #7AC143;
                    font-size: 14px;
                    color: white;
                    font-weight: 700;
                    padding: 2px 10px;
                }
                
                .fa-chevron-right {
                    color: #006699;
                }
                
                .above-title p {
                    font-size: 14px;
                    color: #999;
                    font-weight: 400;
                }
                
                .blue-url {
                    color: #006699;
                    font-weight: 700;
                }
                
                .main-title {
                    font-size: 1.72rem;
                    text-align: center;
                    font-weight: 700;
                }
                
                .main-content img {
                    width: 100%;
                }
                
                .red-text {
                    color: #C0392B;
                    font-size: 15.6px;
                    font-family: 'Roboto' sans-serif;
                    line-height: 1.6em;
                }
                
                .quote {
                    background-color: #eeee;
                    border-left: #006699 4px solid;
                    padding: 0px 15px;
                }
                
                .quote p {
                    padding: 10px;
                    font-size: 16px;
                }
                
                .secondary-title {
                    font-size: 1.2rem;
                    font-weight: bold;
                }
                
                .steps {
                    font-weight: bold;
                }
                
                .age-title {
                    color: #006699;
                    text-align: center;
                    font-size: 1.3rem;
                    font-weight: 700;
                }
                
                .age-container {
                    display: grid !important;
                    grid-template-columns: 1fr 1fr 1fr;
                    grid-template-rows: auto;
                }
                
                .age-container div {
                    background-color: #eeee;
                    height: 80px;
                    margin: 2px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #006699;
                    font-weight: 450;
                    font-size: 1.3rem;
                }
                
                .age-container a {
                    text-decoration: none;
                }
                
                .huge-btn-a {
                    text-decoration: none;
                }
                
                .huge-btn-a:hover {
                    text-decoration: none;
                }
                
                .huge-btn-div {
                    background-color: #7AC143;
                    color: white;
                    text-transform: uppercase;
                    height: auto;
                    display: block;
                    margin: auto;
                    width: 95%;
                    border-radius: 10px;
                    border: none;
                    font-size: 1.2rem;
                    font-weight: 700;
                    padding-top: 10px;
                    padding-left: 10px;
                    text-align: center;
                    display: grid;
                    grid-template-columns: 90% 10%;
                    grid-template-rows: auto;
                    display: flex;
                    align-items: center;
                }
                
                .huge-btn-div:hover {
                    background-color: #619c34;
                }
                
                .huge-btn {
                    width: 80%;
                }
                
                .huge-btn-div img {
                    position: absolute;
                    width: 8% !important;
                    right: 40px;
                }
                
                .footer {
                    background-color: #006699;
                    text-align: center;
                    color: rgb(223, 223, 223);
                    font-size: 10px;
                }
                
                .footer-main {
                    line-height: 0.9;
                }
                
                .footer-main a {
                    color: white;
                    font-weight: bold;
                    padding: 0px 10px;
                }
                
                .footer-main img {
                    width: 50%;
                }
                /*DESKTOP VERSION*/
                
                @media only screen and (min-width: 768px) {
                    #header {
                        background: #006699;
                        border-bottom: 5px solid #7AC143;
                    }
                    p {
                        font-size: 18px;
                    }
                    .header-content {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }
                    .brand {
                        width: 50%;
                    }
                    .brand img {
                        width: 100%;
                        padding-top: 10px;
                        padding-bottom: 10px;
                    }
                    .header-btn {
                        background-color: #7AC143;
                        font-size: 14px;
                        color: white;
                        font-weight: 700;
                        padding: 2px 10px;
                    }
                    .fa-chevron-right {
                        color: #006699;
                    }
                    .above-title p {
                        font-size: 14px;
                        color: #999;
                        font-weight: 400;
                    }
                    .blue-url {
                        color: #006699;
                        font-weight: 700;
                    }
                    .main-title {
                        font-size: 2.5rem;
                        text-align: center;
                        font-weight: 700;
                        width: 90%;
                        display: block;
                        margin: auto;
                        margin-bottom: 20px;
                    }
                    .main-content img {
                        width: 100%;
                    }
                    .text-container {
                        width: 100%;
                    }
                    .comg-img-div {
                        width: 100%;
                    }
                    .comp-img {
                        max-width: 95%;
                        margin: 0 auto;
                        display: block;
                    }
                    .red-text {
                        color: #C0392B;
                        font-size: 18.6px;
                        font-family: 'Roboto' sans-serif;
                        line-height: 1.6em;
                    }
                    .logos {
                        width: 70%;
                        display: block;
                        margin: auto;
                    }
                    .quote {
                        background-color: #eeee;
                        border-left: #006699 4px solid;
                        padding: 0px 15px;
                    }
                    .quote p {
                        padding: 10px;
                        font-size: 16px;
                    }
                    .secondary-title {
                        font-size: 1.5rem;
                        font-weight: bold;
                    }
                    .steps {
                        font-weight: bold;
                    }
                    .age-title {
                        color: #006699;
                        text-align: center;
                        font-size: 1.3rem;
                        font-weight: 700;
                    }
                    .age-container {
                        display: grid !important;
                        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
                        grid-template-rows: auto;
                        max-width: 85%;
                    }
                    .age-container div {
                        background-color: #eeee;
                        height: 80px;
                        margin: 2px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: #006699;
                        font-weight: 450;
                        font-size: 1.3rem;
                    }
                    .age-container div:hover {
                        background-color: rgba(202, 202, 202, 0.933);
                    }
                    .huge-btn-div {
                        background-color: #7AC143;
                        color: white;
                        text-transform: uppercase;
                        height: 65px;
                        display: block;
                        margin: auto;
                        width: 70%;
                        border-radius: 5px;
                        border: none;
                        font-weight: 700;
                        padding-top: 10px;
                        padding-left: 10px;
                        text-align: center;
                        display: grid;
                        grid-template-columns: 90% 10%;
                        grid-template-rows: auto;
                        display: flex;
                        align-items: center;
                    }
                    .huge-btn {
                        width: 80%;
                        font-size: 1.4rem;
                        line-height: 65px;
                    }
                    .huge-btn-div img {
                        position: absolute;
                        width: 4% !important;
                        right: 160px;
                    }
                    .footer {
                        background-color: #006699;
                        text-align: center;
                        color: rgb(223, 223, 223);
                        font-size: 8px;
                    }
                    .footer-main {
                        line-height: 0.9;
                    }
                    .footer-main a {
                        color: white;
                        font-weight: bold;
                        padding: 0px 10px;
                        font-size: 12px;
                    }
                    .footer-main img {
                        width: 25%;
                    }
                    .footer-disclaimer p {
                        font-size: 12px;
                    }
                }
                /* LARGE DESKTOP VERSION*/
                
                @media only screen and (min-width: 992px) {
                    #header {
                        background: #006699;
                        border-bottom: 5px solid #7AC143;
                    }
                    p {
                        font-size: 18px;
                    }
                    .header-content {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }
                    .brand {
                        width: 50%;
                    }
                    .brand img {
                        width: 53%;
                        padding-top: 10px;
                        padding-bottom: 10px;
                    }
                    .header-btn {
                        background-color: #7AC143;
                        font-size: 14px;
                        color: white;
                        font-weight: 700;
                        padding: 2px 10px;
                    }
                    .fa-chevron-right {
                        color: #006699;
                    }
                    .above-title p {
                        font-size: 14px;
                        color: #999;
                        font-weight: 400;
                    }
                    .blue-url {
                        color: #006699;
                        font-weight: 700;
                    }
                    .main-title {
                        font-size: 2.5rem;
                        text-align: center;
                        font-weight: 700;
                        width: 90%;
                        display: block;
                        margin: auto;
                        margin-bottom: 20px;
                    }
                    .main-content {
                        max-width: 1170px;
                    }
                    .main-content img {
                        width: 100%;
                    }
                    .text-container {
                        max-width: 940px;
                    }
                    .comg-img-div {
                        width: 100%;
                    }
                    .comp-img {
                        max-width: 80%;
                        margin: 0 auto;
                        display: block;
                    }
                    .red-text {
                        color: #C0392B;
                        font-size: 18.6px;
                        font-family: 'Roboto' sans-serif;
                        line-height: 1.6em;
                    }
                    .logos {
                        width: 70%;
                        display: block;
                        margin: auto;
                    }
                    .quote {
                        background-color: #eeee;
                        border-left: #006699 4px solid;
                        padding: 0px 15px;
                    }
                    .quote p {
                        padding: 10px;
                        font-size: 16px;
                    }
                    .secondary-title {
                        font-size: 1.5rem;
                        font-weight: bold;
                    }
                    .steps {
                        font-weight: bold;
                    }
                    .age-title {
                        color: #006699;
                        text-align: center;
                        font-size: 1.3rem;
                        font-weight: 700;
                    }
                    .age-container {
                        display: grid !important;
                        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
                        grid-template-rows: auto;
                        max-width: 85%;
                    }
                    .age-container div {
                        background-color: #eeee;
                        height: 80px;
                        margin: 2px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: #006699;
                        font-weight: 450;
                        font-size: 1.3rem;
                    }
                    .age-container div:hover {
                        background-color: rgba(202, 202, 202, 0.933);
                    }
                    .huge-btn-div {
                        background-color: #7AC143;
                        color: white;
                        text-transform: uppercase;
                        display: block;
                        margin: auto;
                        width: 50%;
                        border-radius: 5px;
                        border: none;
                        font-weight: 700;
                        text-align: center;
                        display: flex;
                        align-items: center;
                        position: relative;
                    }
                    .huge-btn {
                        width: 90%;
                        font-size: 1.4rem;
                        line-height: 65px;
                        height: 65px;
                    }
                    .huge-btn-div img {
                        position: absolute;
                        width: 5% !important;
                        right: 25px;
                        top: 20px;
                    }
                    .footer {
                        background-color: #006699;
                        text-align: center;
                        color: rgb(223, 223, 223);
                        font-size: 8px;
                    }
                    .footer-main {
                        line-height: 0.9;
                    }
                    .footer-main a {
                        color: white;
                        font-weight: bold;
                        padding: 0px 10px;
                        font-size: 12px;
                    }
                    .footer-main img {
                        width: 25%;
                    }
                    .footer-disclaimer p {
                        font-size: 12px;
                    }
                }